body {
display: flex;
margin: 0;
}

.logo {
    background-color: red;
    flex: 1;
}

.content {
    background-color: blue;
    flex: 2;
}

.form {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
